<meta name="lang" content="en-US">
<meta name="keywords" content="html" />
<meta name="description" content="modal forces" />
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="modal-forces">
<meta name="twitter:site" content="@https://modal-forces.surge.sh/">
<meta name="twitter:description" content="ontological whateverness">
<meta name="twitter:image" content="https://modal-forces.surge.sh/assets/images/64ffz6.jpg">
<meta name="twitter:image:alt" content="meme; dexter's lab girls fawning, reads: he built a website \ and didn't (just) hold \ and it's built-to-last">

<meta property="og:type" content="website">
<meta property="og:title" content="modal-forces">
<meta property="og:url" content="https://modal-forces.surge.sh">
<meta property="og:image" content="https://modal-forces.surge.sh/assets/images/64ffz6.jpg">
<meta property="og:description" content="relating modal forces">

<link rel="stylesheet" href="./typesetting.css">
<link rel="stylesheet" href="./stylebook.css">

<style>

*:not(pre) {
  font-family: 'Eulexia', sans-serif;
}

#title-block-header {
  display: none;
}

iframe {
  max-width: 100vw !important;
}

.twitter-tweet {
}

.twitter-tweet-rendered {
	max-width: 100vw;
}
</style>

<!-- EOF -->
